<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" (click)="onNavigate('/home')">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="cart" (click)="onNavigate('/cart')">
    <ion-icon name="bag-handle"></ion-icon>
    
  </ion-tab-button>
  <ion-tab-button tab="checkout" (click)="onNavigate('/checkout')">
    <ion-icon name="card"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="profile" (click)="onNavigate('/profile')">
    <ion-icon name="person"></ion-icon>
   
  </ion-tab-button>
</ion-tab-bar>