<ion-tab-bar slot="bottom">
  <ion-tab-button tab="dashboard" (click)=" onNavigate('/dashboard')">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="listseller" (click)=" onNavigate('/listseller')">
    <ion-icon name="list"></ion-icon>
    
  </ion-tab-button>
  <ion-tab-button tab="checkout"  (click)="onNavigate('/')">
    <ion-icon name="settings"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="profile" (click)="onNavigate('/profile')">
    <ion-icon name="person"></ion-icon>
   
  </ion-tab-button>
</ion-tab-bar>