<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/pets.png">
      Pet Shop
    </ion-title>
    <ion-buttons slot="start"> 
      <ion-menu-button menu="first"></ion-menu-button> </ion-buttons>  
    <ion-buttons slot="end">
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  
   <br><br>
    <ion-card-content class="card-content">
      <div class="tile product">
        <div class="number">100</div>
        <div class="label">Product</div>
        <ion-icon name="cart"></ion-icon>
      </div>
      <div class="tile seller"> 
        <div class="number">10</div>
        <div class="label">Seller</div>
        <ion-icon name="person" slot="end"></ion-icon>
      </div>
     
      <div class="tile sale"> 
        <div class="number">500</div>
        <div class="label">Sale</div>
        <ion-icon name="cash"></ion-icon>
      </div>
      <div class="tile budget"> 
        <div class="number">10000Dt</div>
        <div class="label">Budget</div>
        <ion-icon name="wallet"></ion-icon>
      </div>
    </ion-card-content>
 
  
  <ion-card>
    <ion-card-title class="ion-padding-start">Top sellers</ion-card-title>
    <app-pie-chart [view]="view" [legendPosition]="legendPosition"></app-pie-chart>
    <ion-card-content class="ion-margin-top" [ngClass]="{'cardContent' : below}">
     
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title class="ion-padding-start">top sales</ion-card-title>
    <ion-card-content class="ion-margin-top" [ngClass]="{'cardContent' : below}">
      <app-grouped-vertical-bar-chart [view]="view" [legendPosition]="legendPosition"></app-grouped-vertical-bar-chart>
    </ion-card-content>
  </ion-card> 

</ion-content>

<ion-footer>
  <app-tab></app-tab>
</ion-footer>